body {
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    text-align: center;
    align-items: center;
    background-color: #222222;
    color: #FFFFFF;
}

h1 {
    font-size: 3rem;
}

label {
    margin-top: 1rem;
    display: block;
    font-size: 2rem;
}

label span {
    text-align: left;
    display: inline-block;
    width: 12rem;
}

label input {
    width: 50%;
    height: 30px;
    font-size: 2rem;
    border-radius: 5px;
}

input {
    margin-left: 0.6rem;
    margin-bottom: 0.6rem;
}